/projeto-aula-logica/src/sistema/Trabalho Semestral Forca/JOGO_FORCA_OFICIAL1/nbproject/PRIVATE/
/projeto-aula-logica/src/sistema/Trabalho Semestral Forca/jogo_forca_professor/nbproject/PRIVATE/
/projeto-aula-logica/src/sistema/Trabalho Semestral Forca/jogo_forca_professor/build/


/projeto-aula-logica/src/sistema/JogosForca/jogo_forca_professor/build
projeto-aula-logica/out
/sistemas-java/sistemas-comercial-java/SISTEMA_JAVA_10/nbproject/private/
/sistemas-java/sistemas-comercial-java/SISTEMA_JAVA_FINAL_11/DTS_SYSTEMS_JAVA_OFICIAL/build/
/sistemas-java/sistemas-comercial-java/SISTEMA_JAVA_FINAL_11/DTS_SYSTEMS_JAVA_OFICIAL/nbproject/private/
/sistemas-java/sistemas-comercial-java/sistema-comercial-java-1/nbproject/private/
/sistemas-java/sistemas-comercial-java/SISTEMA_JAVA_10/build/
/sistemas-java/sistemas-comercial-java/sistema-comercial-java-1/build/
/sistemas-java/sistema_java_arquivos/nbproject/private/
/sistemas-java/sistema_java_arquivos - Copia/nbproject/private/
/sistemas-java/sistema_java_bancoa_dados/nbproject/private/
/sistemas-java/sistema_java_banco_dados/nbproject/private/
/sistemas-java/sistema_java_banco_dados/build/

.idea/
