/projeto-aula-logica/src/sistema/Trabalho Semestral Forca/JOGO_FORCA_OFICIAL1/nbproject/PRIVATE/
/projeto-aula-logica/src/sistema/Trabalho Semestral Forca/jogo_forca_professor/nbproject/PRIVATE/
/projeto-aula-logica/src/sistema/Trabalho Semestral Forca/jogo_forca_professor/build/


/projeto-aula-logica/src/sistema/JogosForca/jogo_forca_professor/build
projeto-aula-logica/out