/* Reset */

body {
    background-color: rgb(224, 214, 212);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.lista-ola {
    min-height: 200px;
    border: 3px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    /* quebra linha automaticamente */
    /* flex-wrap: wrap; */
    /* da o scroll somente se ultrapassa o tamanho */
    overflow: auto;
}