.footer {
    background-color: #004384;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
    border-top: 1px solid white;
}