body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color:#FFFFFF;
}

#corpo{
    position:relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}
.field{
    padding: 5px;
}

.field label{
    display: block;
    float: left;
    margin-right:15px;
    font-weight: bold;
    margin-right:10px;
    margin-bottom: 5px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 15px;
}
.field input, .field select{
    font-size: 15px;
    padding: 5px;
}
.tabela_consulta{
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}

.tabela_consulta td{
    border-bottom: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
}

.tabela_consulta th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    background-color: gainsboro;
}

.tabela_consulta tr{
    font-weight: bolder;
}

.fundo_tabela{
    background-color: gray;
}
/*Label dos formularios */
.label_formulario{
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
}

.cadastroPessoa{
    border:2px solid black;
}
#titulo{
    text-align: center;
}

/* Cores dos botoes */

.botao{
    /*Cor de fundo do botao    */
    background-color: #FF0000;
    /*Borda do botao  */
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    /*Inicio-Tamanho do botao */
    height: 2em;
    line-height: 2em;
    padding: 0 0.8em;
    /*Fim-Tamanho do botao*/
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.botao:hover,
.botao:active {
    /* Cor ao passar o mouse*/
    box-shadow: inset 0 0 0 1px #696969;
    color: #696969 !important;
}
.botao:active {
    /*Cor ao clicar no botao->Ativo*/
    background-color: #87CEFA;
}
#botaoGravar{
    /*Cor de fundo do botao    */
    background-color: #00BFFF;
}
#botaoLimpar{
    /*Cor de fundo do botao    */
    background-color: #FF0000;
}
#botaoExcluir{
    /*Cor de fundo do botao    */
    background-color: #FF4500;
}
