@import "menu.css";
@import "footer.css";

body {
    background-color: #333;
    position: relative;
    height: 100%;
}

@media (max-width: 767px) {
  body {    
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  
  .content {
  	padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

.app-header {	
	height: 80px;
	margin-bottom: 20px;
	padding-top:20px;
}

.app-header .app-logo {
	background-image: url("../images/ecasan-short.png");      
    height: 30px;
    width: 177px;
    background-repeat:no-repeat;
    float: left;	
}

.app-header .options {
	float: right; 
	font-size: 1.2em;
	display: -webkit-box;
}
.app-header .options .dropdown-menu {
	left: auto !important;
	right: 0;
	max-height: 350px;
	overflow-y: auto;	
}

.app-header .unit-address {
	color: #333;
	font-size: 0.8em;
	white-space: normal;
	padding: 0px 10px 5px 10px;	
}

.identification .popover {
	width: 200px;
	font-size: 0.8em !important;
}

.app-header .options .dropdown-menu a {
	padding-left: 30px;
}

.dropdown-menu .dropdown-menu-wrapper {
	padding-left: 15px; 
	padding-right: 20px;
	color: #005580;
}

.dropdown-menu .dropdown-menu-message {
	padding: 5px 20px 5px 15px;
	color: #005580;
	background-color: #e5e9ec;
	margin-bottom: 7px;	
}

.message-container .identification {
	font-size: 1.3em;
}

.window-row {
	padding: 10px 0px 10px 10px;
	min-height: 50px;
	font-size: 0.9em;
	border-bottom: 1px solid #e8e8e8;
}

.window-row .situation {
	color: #777;
	font-size: 0.8em;
}

.window-row strong {
	font-size: 1.1em;
}

.window-row:hover {
	background-color: #f5f5f5;
}

.window-row a {
	right: 10px;
	position: relative;
	top: 20px;
}

.quote {
	color:#395296;
	font-size: 1.5em;
}

.quote.important {
	color:#963939;
}

.app-header .quote {	
	margin: 25px 0 25px 0;
	color: #3e4248;
	margin: 35px 0 25px 55px;	
}

.app-header .goodbye {
	margin-right: 10px;
}	

.margin-top15 {
	margin-top: 15px;
}

.margin-bottom0 {
	margin-bottom: 0px;
}

.content {
    background-color: #fff;    
    background-position: 0 0px;
    background-repeat: repeat-x;    
    /* padding-bottom:20px; */
    min-height: 615px;    
}

.content a:hover {
	text-decoration: none;
}

.inner-content {	
	padding: 10px 0 10px 0;	     
}

.inner-content h1 {	
	color: #333;
	font-size: 1.6em;
	font-weight: 200;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.inner-content .nav-tabs {
	margin-bottom: 0px;
	
}

.inner-content .nav-tabs a {
	font-weight: bold;
}

.inner-content .tab-content {
	border-style: solid;
	border-width: 0px 1px 1px 1px;	
	border-color: #ddd;
	padding: 15px;
}

.inner-content .divider {
	margin-top: 15px;
	height: 1px;
	border-top: 1px solid #ddd;
}
.inner-content .field-detail {
	vertical-align: top; 
	line-height: 30px;
	margin-left: 5px;
}

.message-container {	
	padding-top:10px;
	padding-bottom:10px;
    background-position: 0 0px;
    background-repeat: repeat-x;
    margin-bottom: 0px;
}

.message-error {
	color: #b94a48;
	background-color: #f2dede !important;
	border-color: rgb(238, 211, 215) !important;
}

.color-casan {
	background: rgb(100, 126, 125);
	color: #eee;
}

.chart-placeholder {
	width: 100%;
	height: 100%;
	min-height: 300px;
	font-size: 14px;
	line-height: 1.2em;
}
.chart-subtitle {
	text-align: right;
	padding-right: 8px;
	margin-top: 5px;
}

.document-container {
	border: 1px solid #ccc;
	background: white;
	/*margin: 0px 50px 10px 50px;*/
	padding: 30px 30px 10px 30px;
	margin-radius: 5px;
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}

.document-header {
	margin-bottom: 15px;
	min-height: 85px;
}

.document-header img {
	margin-right: 10px;
}

.document-header p {
	font-size: 16px;
	font-weight: bold;
}

.form-table div {
	margin-bottom:5px;
}

.form-table strong {
	margin-right:3px;
}

.form-table span {
	margin-right:7px;
}

#removeModal {
	width: auto !important;
}

.negative-fail-container {
	padding: 15px 0px 5px 30px;
	list-style-type: none;
}

.negative-fail-container li {
	margin-bottom:8px;
}

/* utilities */
.responsive-utilities.table {
	margin-bottom: 0px;
}

.responsive-utilities td, .responsive-utilities th {
	text-align: center;
}

.responsive-utilities th {
	background: #e5e9ec;
}

.responsive-utilities .options {
	width:120px;
}

/*
*/

.accordion-heading {
    background: none repeat scroll 0 0 #e5e9ec;
    color: #333;
}

.accordion-heading:hover {
	background: none repeat scroll 0 0 rgb(205, 216, 224);
}

.accordion-heading a {
	color: #333;
}


/* Menu override
-------------------------------------------------- */

.ilink-list a {
	height: 25px;
	border-right: 0px;
	border-bottom: 0px;
}

.ilink-list .big-menu {
	height: 91px;
}

.ilink-list a .thumbnail {
	width: 20px;
	height: 20px;
	margin-top: -2px;
	margin-left: 10px;	
}

.ilink-list a .title {
	font-size: 1.1em;
}

.image-result {
	position:relative;
	border:1px solid #ddd;
	background-color:white;
	width: 100%;
}

.result-not-found {	
	padding: 10px;
	font-weight:bold;
	text-align:center;
}

.resultLoading {
	position:absolute;
	left:5px;
	top:5px;
}

.portal-pagination {
	text-align:center;
	background-color:white;
	border: 1px solid #ddd;
	padding:10px;
}

.portal-pagination-item {
	cursor:pointer;
}

/* @Override (bootstrap) */
.pagination {
	margin: 5px 0 !important;
}

/* Error 404 */
.ops {
	color:#395296;
	font-weight:bold;	
	font-size: 120px;
	line-height:120px;
	text-align:center;
	letter-spacing:-8px;
	text-shadow: 2px 2px 2px #777;
	margin-bottom:20px;	
}

.error-title {
	color:#999;
	font-size: 25px;
	text-align:center;
}

.paragraph {
	margin-top:10px;
	text-align:justify;
	text-indent: 1.5em; 
}

.expenseTitle {
	color: black;
	font-weight: bold;
	margin-bottom:15px;
	margin-left:25px;		
}

.rss_link img {
	width: 20px;
	height: 20px;
}

/* history */
#historyYearsToCompare {
	display: none;
	margin-bottom: 0px;
	float:right;
}
 /* avisos */
 .communication i {
 	padding-left: 15px;
 	margin-bottom: 20px;
	display: block;
 }
 
 #loading {
	background-color: #FFFFFF;
    background-image: url("../images/casan.gif");
    background-position: 0 13px;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 7px #292929;
    height: 102px;
    text-align: center;
    display: none;
    width: 96px;
    z-index: 2000;
}

.home-form-email {
	margin-top: 5px;
	background-color: #fff;
	border: none;
}

.home-form-email input {
	height: 40px;
	font-size: 16px;
	width:320px; 
	margin-bottom: 0px;	
} 

.home-form-email button {
	height: 50px;
}

.home-email-message {
	width: 450px;
	margin-top: 10px;
}

#home-btn-update-email {
	/* margin-left: 10px; */	
}

#home-form-update-email {
	padding-top: 0px;
	margin-top: -5px;
	display:none;
}


@media (max-width: 600px) {
	.home-form-email {
		 padding: 0;		
	}

	.home-form-email input {
		width: 100%;
		height: 50px;
		box-sizing:border-box;
	}
	.home-form-email button {
		margin-top: 5px;
		width: 100%;	
	}
	
	.home-email-message {
		width: 100%;
		box-sizing:border-box;
	}	
}

.comunicados-mensagem {
	font-weight: bold;
	color: #666;
	padding:10px;
}